# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /Realty-v2/public/

# Redirect requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Set default character encoding
AddDefaultCharset UTF-8

# PHP settings
<IfModule mod_php.c>
    php_flag display_errors On
    php_value error_reporting E_ALL
</IfModule>
