# Enable URL rewriting
RewriteEngine On

# Redirect requests to app.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app.php [QSA,L]

# Set default character encoding
AddDefaultCharset UTF-8

# PHP settings
<IfModule mod_php.c>
    php_flag display_errors On
    php_value error_reporting E_ALL
</IfModule>
